<footer class="main-footer sticky footer-type-1">

    <div class="footer-inner">

        <!-- Add your copyright text here -->
        <div class="footer-text">
            &copy; 2014
            <strong>Xenon</strong>
            More Templates <a href="http://www.uimaker.com/" target="_blank" title="uimaker.com">uimaker.com</a> - Collect from <a href="#/" title="网页模板" target="_blank">网页模板</a>
        </div>


        <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
        <div class="go-up">

            <a href="#" rel="go-top">
                <i class="fa-angle-up"></i>
            </a>

        </div>

    </div>

</footer>