<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {load file="/static/assets/css/fonts/linecons/css/linecons.css"/}
    {load file="/static/assets/css/fonts/fontawesome/css/font-awesome.min.css"/}
    {load file="/static/assets/css/bootstrap.css"/}
    {load file="/static/assets/css/xenon-core.css"/}
    {load file="/static/assets/css/xenon-forms.css"/}
    {load file="/static/assets/css/xenon-components.css"/}
    {load file="/static/assets/css/xenon-skins.css"/}
    {load file="/static/assets/css/custom.css"/}
    {load file="/static/assets/js/jquery-1.11.1.min.js"/}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    {load file="/static/assets/js/html5shiv.min.js"/}
    {load file="/static/assets/js/respond.min.js"/}
    <![endif]-->
</head>
<body>
<div class="head">

</div>
</body>
</html>