<div class="sidebar-menu toggle-others fixed">

    <div class="sidebar-menu-inner">

        <header class="logo-env">

            <!-- logo -->
            <div class="logo">
                <a href="{:url('WechatAdmin/index')}" class="logo-expanded">
                    <img src="/static/assets/images/logo@2x.png" width="80" alt="" />
                </a>

                <a href="dashboard-1.html" class="logo-collapsed">
                    <img src="/static/assets/images/logo-collapsed@2x.png" width="40" alt="" />
                </a>
            </div>

            <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
            <div class="mobile-menu-toggle visible-xs">
                <a href="#" data-toggle="user-info-menu">
                    <i class="fa-bell-o"></i>
                    <span class="badge badge-success">7</span>
                </a>

                <a href="#" data-toggle="mobile-menu">
                    <i class="fa-bars"></i>
                </a>
            </div>

            <!-- This will open the popup with user profile settings, you can use for any purpose, just be creative -->
            <div class="settings-icon">
                <a href="#" data-toggle="settings-pane" data-animate="true">
                    <i class="linecons-cog"></i>
                </a>
            </div>


        </header>



        <ul id="main-menu" class="main-menu">
            <!-- add class "multiple-expanded" to allow multiple submenus to open -->
            <!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->

            <li {if condition="$Request.action eq 'wxaccess'"}class='active opened'{/if}>
                <a href="wxaccess.html">
                    <i class="linecons-cog"></i>
                    <span class="title">功能</span>
                </a>
                <ul>
                    <li {if condition="$Request.action eq 'wxaccess'"}class='active'{/if}>
                        <a href="wxaccess.html">
                            <span class="title">接入</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-2.html">
                            <span class="title">Dashboard 2</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-3.html">
                            <span class="title">Dashboard 3</span>
                        </a>
                    </li>
                    <li>
                        <a href="dashboard-4.html">
                            <span class="title">Dashboard 4</span>
                        </a>
                    </li>
                    <li>
                        <a href="skin-generator.html">
                            <span class="title">Skin Generator</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="layout-variants.html">
                    <i class="linecons-desktop"></i>
                    <span class="title">Layouts</span>
                </a>
                <ul>
                    <li>
                        <a href="layout-variants.html">
                            <span class="title">Layout Variants &amp; API</span>
                        </a>
                    </li>
                    <li>
                        <a href="layout-collapsed-sidebar.html">
                            <span class="title">Collapsed Sidebar</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

</div>