<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Xenon Boostrap Admin Panel" />
    <meta name="author" content="" />
    <title>Xenon - Vector Map1</title>



    {include file='public/header'}
</head>
<body class="page-body">
{include file='public/top'}
<div class="page-container">

    <!--left-->
    {include file='public/left'}
    <!--left-->

    <!--content-->
    {include file='public/Content'}
    <!--content-->

    <!-- start: Chat Section -->
    {include file='public/right'}
    <!-- end: Chat Section -->
    <!-- Bottom Scripts -->

</div>
{include file='public/footer'}
</body>
</html>